@model IEnumerable<AppData.model.VoucherDetail>

@{
    ViewData["Title"] = "GetAllVoucherDetail";
}

<h1>GetAllVoucherDetail</h1>

<p>
    <a asp-action="CreateVoucherDetail">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soluong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.IdVoucher)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.IdNguoiDung)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVoucher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNguoiDung)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
