@using Microsoft.Azure.Cosmos.Linq;
@model IEnumerable<AppData.model.HoaDon>

@{
    ViewData["Title"] = "GetAllHDById";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<style>
    td .btn {
        margin: 8px;
        width: 90px;
        height: 33px;
    }

    .bi {
        margin: 2px;
    }

    a {
        font-size: 16px;
    }
</style>

<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GetAllHD">Hoá đơn</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-controller="HoaDonCT" asp-action="GetAllHDCT">Hoá đơn Chi Tiết</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-controller="LichsuHD" asp-action="GetAllLsHD">Lịch sử hoá đơn</a>
    </li>
</ul>

<form asp-action="GetAllHD" method="post" enctype="multipart/form-data">
    <div class="row" style="padding:5px ; margin : 5px;">
        <div class="col-3">
            <a asp-action="CreateHoaDon" class="btn btn-primary">Thêm mới</a>
        </div>
        <div class="col-9">
            <input type="text" list="datalistOptions" id="name" name="name" placeholder="" style="height : 40px; width: 90%; border-radius:10px" />
            <button type="submit" class="btn btn-primary" style="border-radius:5px; margin-left: 5px;">Search</button>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaHD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayTao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoLuong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TongTien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TienVanChuyen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayGiao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayNhan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayThanhToan)
                </th>
                <th>
                    Trạng thái
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                
                <tr>
                    <td>
                        <a href="@Url.Action("GetAllHoaDonCTByIDHD","HoaDon",new { idhd = item.Id})">@Html.DisplayFor(modelItem => item.MaHD)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayTao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuong)
                    </td>
                    <td>
                        @item.TongTien.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))
                    </td>
                    <td>
                        @item.TienVanChuyen.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayGiao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayThanhToan)
                    </td>
                    <td>
                        @if (item.status == 0)
                        {
                            <p>Chờ xác nhận</p>
                        }
                        else if (item.status == 1)
                        {
                            <p>Đã xác nhận</p>
                        }
                        else if (item.status == 2)
                        {
                            <p>Chờ lấy hàng</p>
                        }
                        else if (item.status == 3)
                        {
                            <p>Đã lấy hàng</p>
                        }
                        else if (item.status == 4)
                        {
                            <p>Đã thanh toán</p>
                        }
                        else if (item.status == 5)
                        {
                            <p>Đã hủy</p>
                        }
                        else if (item.status == 6)
                        {
                            <p>Đã nhận hàng</p>
                        }
                        else if (item.status == 7)
                        {
                            <p>Hóa đơn chờ</p>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("UpdateHuy","HoaDon",new { id = item.Id})" class="btn btn-dark btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>    Hủy hàng
                        </a>
                        <a href="@Url.Action("UpdateDaNhanHang","HoaDon",new { id = item.Id})" class="btn btn-primary btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>Đã nhận hàng
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
