@model IEnumerable<AppData.model.Combo>

@{
    ViewData["Title"] = "GetlistComBO";
}

<h1>GetlistComBO</h1>

<p>
    <a asp-action="CreateComBO">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenCombo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTaCombo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienGiamGia)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td style="display:none">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenCombo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTaCombo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienGiamGia)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
