@model IEnumerable<AppData.model.Voucher>

@{
    ViewData["Title"] = "GetAllVoucher";
}

<h1>Danh Sach Voucher</h1>
<script src="~/js/voucher.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
else
{
    <div class="alert alert-danger">@TempData["SuccessFull"]</div>
}
<style>
    td .btn {
        margin: 8px;
        width: 90px;
        height: 33px;
    }

    .bi {
        margin: 2px;
    }

    a {
        font-size: 16px;
    }
</style>
<form asp-action="GellAllVoucher" method="get">
    <div class="row" style="padding:5px ; margin : 5px;">
        <div class="col-3">
            <a asp-action="CreateVoucher" class="btn btn-primary">Thêm mới</a>
        </div>
        <div class="col-9">
            <input type="text" list="datalistOptions" id="name" name="name" placeholder="Tên sản phẩm" style="height : 40px; width: 90%; border-radius:10px" />
            <button type="submit" class="btn btn-primary" style="border-radius:5px; margin-left: 5px;">Search</button>

            <datalist id="datalistOptions">
                <option value="1" />
                <option value="2" />
                <option value="3" />
                <option value="4" />
                <option value="5" />
            </datalist>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="display:none;">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    Mã Voucher
                </th>
                <th>
                    Ngày tạo
                </th>
                <th>
                    Ngày bắt đầu
                </th>
                <th>
                    Ngày kết thúc
                </th>
                <th>
                    Giá trị voucher
                </th>
                <th>
                    Giá trị tối thiểu - tối đa
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Mô tả
                </th>
                <th style="display:none;">
                    @Html.DisplayNameFor(model => model.DieuKienGiamGia)
                </th>
                <th>
                    Trạng thái
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="display:none;">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaVoucher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayTao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayBatDau)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayKetThuc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaTriVoucher) %
                    </td>
                    <td>
                        @item.Min.ToString("C0", new System.Globalization.CultureInfo("vi-VN")) -  @item.Max.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))
                    </td>
                    <td>
                        <span id="soluongvoucher">
                            @Html.DisplayFor(modelItem => item.SoLuong)
                        </span>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td style="display:none;">
                        @Html.DisplayFor(modelItem => item.DieuKienGiamGia)
                    </td>
                    <td>
                        @if (item.status == 1)
                        {
                            <p>Chưa hoạt động</p>
                        }
                        @if (item.status == 0)
                        {
                            <p>Đang hoạt động</p>
                        }
                        @if (item.status == -1)
                        {
                            <p>Dừng hoạt động</p>
                        }

                    </td>
                    <td>
                        <a href="@Url.Action("EditVoucher","QuanTri",new { id = item.Id})" class="btn btn-default">
                            <i class="fas fa-edit" style="color: #005eff;"></i> Xem
                        </a>
                        <a href="@Url.Action("DeleteVoucher","QuanTri",new { id = item.Id})" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn btn-default">
                            <i class="fas fa-trash" style="color: #ff0000;"></i> Xóa
                        </a>
                        <button type="button" id="btnTangVoucher" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalVoucher" onclick="LayNguoiDungChoVoucher();">
                            Tặng
                        </button>
                        <div class="modal" id="ModalVoucher">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Voucher</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" data-dismiss="modal"></button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <table id="tableNguoiDung" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>ID</th>
                                                    <th>Tên người dùng</th>
                                                    <th>Email</th>
                                                    <th>Ngày sinh</th>
                                                    <th>Trạng thái</th>
                                                </tr>
                                            </thead>
                                            <tbody id="loadNguoiDung">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
