@using System.Text.Json;
@using AppData.ViewModal.GioHangChiTietViewModel;
@using AppData.Session;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpAccess

@{

    List<ThongTinThanhPho> provinces = httpAccess.HttpContext.Session.Get<List<ThongTinThanhPho>>("ThanhPho");
    List<ThongTinQuanHuyen> districts = httpAccess.HttpContext.Session.Get<List<ThongTinQuanHuyen>>("Thongtinquanhuyen");
    var GioHang = ViewBag.GioHang as List<AppData.ViewModal.GioHangChiTietViewModel.GioHangChiTietViewModel>;
    double tongtien = 0;
    double tiengiamgia = 0;
    double thanhtien = 0;

    //var soluong = GioHang.Count();
}
<script type="text/javascript" src="~/library/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="~/js/thanhtoan.js"></script>
<link type="text/css" href="~/css/thanhtoan.css" rel="stylesheet" />
<link href="~/library/plugins/bootstrap/css/bootstrap.min.css" type="text/javascript" rel="stylesheet" />
<link type="text/css" href="~/library/plugins/select2/css/select2.min.css" rel="stylesheet" />
<link type="text/css" href="~/library/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/library/plugins/select2/js/select2.min.js"></script>
<script type="text/javascript" src="~/library/plugins/select2/js/select2.full.min.js"></script>

<main role="main">
    <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
    <div class="container mt-4">
        <form class="needs-validation" asp-action="ThanhToan" name="frmthanhtoan" method="post" enctype="multipart/form-data">
            <input type="hidden" name="kh_tendangnhap" value="dnpcuong">
            <div class="py-5 text-center">
                <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
                <h2>Thanh toán</h2>
                <p class="lead">Vui lòng kiểm tra thông tin Khách hàng, thông tin Giỏ hàng trước khi Đặt hàng.</p>
            </div>

            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Giỏ hàng</span>
                        <span class="badge badge-secondary badge-pill">@GioHang.Count()</span>
                    </h4>
                    <ul class="list-group mb-3">
                        @if (GioHang != null)
                        {
                            foreach (var giohangchitiet in GioHang)
                            {
                                thanhtien = (double)(giohangchitiet.Soluong * giohangchitiet.GiaSanPham);
                                
                               
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">@giohangchitiet.TenSanPham</h6>
                                        <small class="text-muted">@giohangchitiet.GiaSanPham.ToString("C0", new System.Globalization.CultureInfo("vi-VN")) x @giohangchitiet.Soluong</small>
                                    </div>
                                    <span class="text-muted">@thanhtien.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</span>
                                </li>
                            }
                            tiengiamgia = (double)GioHang.Sum(c => c.Soluong * c.TienGiamGia);
                            tongtien = (double)GioHang.Sum(c => c.GiaSanPham * c.Soluong);
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Thành tiền</span>
                                <strong id="tongtien">@tongtien.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</strong>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Thành giảm giá</span>
                                <strong id="tiemgiamgia">@tiengiamgia.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</strong>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Tiền ship</span>
                                <strong id="tienship">@*@tienship.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))*@</strong>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Tổng tiền</span>
                                <strong id="tientra"></strong>
                            </li>
                        }
                    </ul>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Mã khuyến mãi">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Xác nhận</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Thông tin khách hàng</h4>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="kh_ten">Họ tên</label>
                            <input type="text" class="form-control" name="kh_ten" id="kh_ten" value="Dương Nguyễn Phú Cường">
                        </div>
                        <div class="col-md-12">
                            <label for="kh_gioitinh">Giới tính</label>
                            <input type="text" class="form-control" name="kh_gioitinh" id="kh_gioitinh" value="Nam">
                        </div>
                        <div class="col-md-12" style="margin:2px;">
                            <div class="row">
                                <div class="col-md-4 ">
                                    <label for="Tinh_ThanhPho">Tỉnh/ Thành phố: </label>
                                    <select id="provinceDropdown" class="form-control col-md-11">
                                        <option value="">Chọn tỉnh/thành phố: </option>
                                        @if (provinces != null)
                                        {
                                            foreach (var province in provinces)
                                            {
                                                <option value="@province.Id" data-url="@Url.Action("NhanIDTinh", "GioHang", new { IdThanhPho = province.Id })">@province.Name</option>
                                            }
                                        }
                                    </select>
                                    <div class="row">
                                        <a id="searchButton" class="col-md-1" style="margin-top:3px;"><i class="fas fa-search" style="color: #005eff;"></i></a>
                                        <div id="searchContainer" style="display: none;">
                                            <input type="text" id="searchBox" class="form-control col-md-11" placeholder="Tìm kiếm" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <label for="quanhuyen">Quận Huyện: </label>
                                    <select id="districtDropdown" class="form-control col-md-11">
                                        <option value="">Chọn Quận huyện: </option>
                                    </select>
                                    <div class="row">
                                        <a id="searchButton1" class="col-md-1" style="margin-top:3px;"><i class="fas fa-search" style="color: #005eff;"></i></a>
                                        <div id="searchContainer1" style="display: none;">
                                            <input type="text" id="searchBox1" class="form-control col-md-11" placeholder="Tìm kiếm" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="XaPhuong">Xã/Phường: </label>
                                    <select id="WardDropdown" class="form-control col-md-11">
                                        <option value="">Chọn xã phường: </option>
                                    </select>
                                    <div class="row">
                                        <a id="searchButton1" class="col-md-1" style="margin-top:3px;"><i class="fas fa-search" style="color: #005eff;"></i></a>
                                        <div id="searchContainer1" style="display: none;">
                                            <input type="text" id="searchBox1" class="form-control col-md-11" placeholder="Tìm kiếm" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-md-12">
                            <label for="kh_diachi">Địa chỉ</label>
                            <input type="text" class="form-control" name="kh_diachi" id="kh_diachi" value="130 Xô Viết Nghệ Tỉnh">
                        </div>
                        <div>
                            <label for="kh_dienthoai">Điện thoại</label>
                            <input type="text" class="form-control" name="kh_dienthoai" id="kh_dienthoai" value="0915659223">
                        </div>
                        <div class="col-md-12">
                            <label for="kh_email">Email</label>
                            <input type="text" class="form-control" name="kh_email" id="kh_email" value="phucuong@ctu.edu.vn">
                        </div>
                    </div>

                    <h4 class="mb-3">Hình thức thanh toán</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="httt-1" name="httt_ma" type="radio" class="custom-control-input" required=""
                                   value="1">
                            <label class="custom-control-label" for="httt-1">Tiền mặt</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="httt-2" name="httt_ma" type="radio" class="custom-control-input" required=""
                                   value="2">
                            <label class="custom-control-label" for="httt-2">Chuyển khoản</label>
                        </div>
                    </div>
                    <hr class="mb-4">
                    @* <a href="@Url.Action("ThanhToan","GioHang")" class="btn btn-primary btn-lg btn-block" name="btnDatHang">
                    Đặt hàng
                    </a>*@
                    <button class="btn btn-primary btn-lg btn-block" type="submit" name="btnDatHang">
                        Đặt hàng
                    </button>
                </div>
            </div>
        </form>

    </div>
    <!-- End block content -->
</main>

<script type="text/javascript">
    //$(document).ready(function () {
    //    var isInputVisible = false;
    //    $("#searchButton").click(function () {
    //        if (isInputVisible) {
    //            $("#searchContainer").hide();
    //        } else {
    //            $("#searchContainer").show();
    //        }
    //        isInputVisible = !isInputVisible;
    //    });
    //    $("#searchButton1").click(function () {
    //        if (isInputVisible) {
    //            $("#searchContainer1").hide();
    //        } else {
    //            $("#searchContainer1").show();
    //        }
    //        isInputVisible = !isInputVisible;
    //    });
    //    $("#searchBox").on("input", function () {
    //        var searchValue = $(this).val().toLowerCase();
    //        $("#provinceDropdown option").each(function () {
    //            if ($(this).text().toLowerCase().indexOf(searchValue) === -1) {
    //                $(this).hide();
    //            } else {
    //                $(this).show();
    //            }
    //        });
    //    });
    //    $("#searchBox1").on("input", function () {
    //        var searchValue = $(this).val().toLowerCase();
    //        $("#districtDropdown option").each(function () {
    //            if ($(this).text().toLowerCase().indexOf(searchValue) === -1) {
    //                $(this).hide();
    //            } else {
    //                $(this).show();
    //            }
    //        });
    //    });
    //    $("#provinceDropdown").change(function () {
    //        var selectedId = $(this).val();
    //        var selectedOption = $(this).find("option:selected");
    //        var url = selectedOption.data("url");
    //        if (selectedId && url) {
    //            $.ajax({
    //                url: url,
    //                method: "POST",
    //                contentType: "application/json; charset=utf-8",
    //                data: JSON.stringify({ IdThanhPho: selectedId }),
    //                success: function (data) {
    //                    //alert("Lấy ID thành công: " + selectedId);
    //                    updateDistrictDropdown(data);
    //                    layDuLieuTuSession();
    //                },
    //                error: function () {
    //                    alert("Có lỗi xảy ra");
    //                }
    //            });
    //        }
    //    });
    //    //$("#districtDropdown").change(function () {
    //    //    var selectedId = $(this).val();
    //    //    var selectedOption = $(this).find("option:selected");
    //    //    var url = selectedOption.data("url");
    //    //    if (selectedId && url) {
    //    //        $.ajax({
    //    //            url: url,
    //    //            method: "POST",
    //    //            contentType: "application/json; charset=utf-8",
    //    //            data: JSON.stringify({ IdQuanHuyen: selectedId }),
    //    //            success: function (data) {
    //    //                //alert("Lấy ID thành công: " + selectedId);
    //    //            },
    //    //            error: function () {
    //    //                alert("Có lỗi xảy ra");
    //    //            }
    //    //        });
    //    //    }
    //    //});
    //});
    //function updateDistrictDropdown(data) {
    //    // Xóa tất cả các option hiện tại trong dropdown "district"
    //    $("#districtDropdown").empty();
    //    $("#districtDropdown").append('<option value="">Chọn Quận huyện: </option>');
    //    if (data != null) {
    //        for (var i = 0; i < data.length; i++) {
    //            $("#districtDropdown").append('<option value="' + data[i].ID + '">' + data[i].Name + '</option>');
    //        }
    //    }
    //}
    //function layDuLieuTuSession() {
    //    $.ajax({
    //        type: 'GET',
    //        url: '/GioHang/LayQuanHuyen', // Điều chỉnh đường dẫn tùy thuộc vào định tuyến của bạn
    //        success: function (result) {
    //            // Dữ liệu được trả về từ controller
    //            var thongTinQuanHuyen = result.thongTinQuanHuyen;
    //            //updateDistrictDropdown(thongTinQuanHuyen)
    //            console.log(thongTinQuanHuyen);
    //        },
    //        error: function (error) {
    //            console.error('Lỗi khi lấy dữ liệu từ Session:', error);
    //        }
    //    });
    //}
</script>

