@using System.Text.Json;

@{
    var provinces = ViewBag.thongtin as List<AppData.ViewModal.GioHangChiTietViewModel.ThongTinThanhPho>;
    var districts = ViewBag.thongtinhuyen as List<AppData.ViewModal.GioHangChiTietViewModel.ThongTinQuanHuyen>;
}
<script type="text/javascript" src="~/library/plugins/jquery/jquery.min.js"></script>

<link type="text/css" href="~/css/thanhtoan.css" rel="stylesheet" />
<link href="~/library/plugins/bootstrap/css/bootstrap.min.css" type="text/javascript" rel="stylesheet" />
<link href="~/library/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />

<link type="text/css" href="~/library/plugins/select2/css/select2.min.css" rel="stylesheet" />
<link type="text/css" href="~/library/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />

<script type="text/javascript" src="~/library/plugins/select2/js/select2.min.js"></script>
<script type="text/javascript" src="~/library/plugins/select2/js/select2.full.min.js"></script>

<main role="main">
    <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
    <div class="container mt-4">
        <form class="needs-validation" name="frmthanhtoan" method="post"
              action="#">
            <input type="hidden" name="kh_tendangnhap" value="dnpcuong">

            <div class="py-5 text-center">
                <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
                <h2>Thanh toán</h2>
                <p class="lead">Vui lòng kiểm tra thông tin Khách hàng, thông tin Giỏ hàng trước khi Đặt hàng.</p>
            </div>

            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Giỏ hàng</span>
                        <span class="badge badge-secondary badge-pill">2</span>
                    </h4>
                    <ul class="list-group mb-3">
                        <input type="hidden" name="sanphamgiohang[1][sp_ma]" value="2">
                        <input type="hidden" name="sanphamgiohang[1][gia]" value="11800000.00">
                        <input type="hidden" name="sanphamgiohang[1][soluong]" value="2">

                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Apple Ipad 4 Wifi 16GB</h6>
                                <small class="text-muted">11800000.00 x 2</small>
                            </div>
                            <span class="text-muted">23600000</span>
                        </li>
                        <input type="hidden" name="sanphamgiohang[2][sp_ma]" value="4">
                        <input type="hidden" name="sanphamgiohang[2][gia]" value="14990000.00">
                        <input type="hidden" name="sanphamgiohang[2][soluong]" value="8">

                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Apple iPhone 5 16GB White</h6>
                                <small class="text-muted">14990000.00 x 8</small>
                            </div>
                            <span class="text-muted">119920000</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Tổng thành tiền</span>
                            <strong>143520000</strong>
                        </li>
                    </ul>


                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Mã khuyến mãi">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Xác nhận</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Thông tin khách hàng</h4>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="kh_ten">Họ tên</label>
                            <input type="text" class="form-control" name="kh_ten" id="kh_ten" value="Dương Nguyễn Phú Cường">
                        </div>
                        <div class="col-md-12">
                            <label for="kh_gioitinh">Giới tính</label>
                            <input type="text" class="form-control" name="kh_gioitinh" id="kh_gioitinh" value="Nam">
                        </div>
                        <div class="col-md-12 row" style="margin:2px;">
                            <div class="col-md-6 row">
                                <label for="kh_diachi">Tỉnh/ Thành phố: </label>
                                <select id="provinceDropdown" class="form-control col-md-11">
                                    <option value="">Chọn tỉnh/thành phố</option>
                                    @if (provinces != null)
                                    {
                                        foreach (var province in provinces)
                                        {
                                            <option value="@province.Id" data-url="@Url.Action("ThanhToan", "GioHang", new { idthanhpho = province.Id })">@province.Name</option>
                                        }
                                    }
                                </select>
                                <a id="searchButton" class="col-md-1" style="margin-top:3px;"><i class="fas fa-search" style="color: #005eff;"></i></a>
                                <div id="searchContainer" style="display: none;">
                                    <input type="text" id="searchBox" class="form-control col-md-11" placeholder="Tìm kiếm" />
                                </div>
                            </div>
                            <div class="col-md-6 row">
                                <label for="kh_diachi">Quận Huyện: </label>
                                <select id="provinceDropdown" class="form-control col-md-11">
                                    <option value="">Chọn Quận huyện</option>
                                    @if (districts != null)
                                    {
                                        foreach (var district in districts)
                                        {
                                            <option value="@district.Id" data-url="@Url.Action("ThanhToan", "GioHang", new { idquanhuyen = district.Id })">@district.Name</option>
                                        }
                                    }
                                </select>
                                <a id="searchButton" class="col-md-1" style="margin-top:3px;"><i class="fas fa-search" style="color: #005eff;"></i></a>
                                <div id="searchContainer" style="display: none;">
                                    <input type="text" id="searchBox" class="form-control col-md-11" placeholder="Tìm kiếm" />
                                </div>
                            </div>
                            <label for="kh_diachi">Địa chỉ</label>
                            <input type="text" class="form-control" name="kh_diachi" id="kh_diachi" value="130 Xô Viết Nghệ Tỉnh">
                        </div>
                        <div class="col-md-12">
                            <label for="kh_dienthoai">Điện thoại</label>
                            <input type="text" class="form-control" name="kh_dienthoai" id="kh_dienthoai" value="0915659223">
                        </div>
                        <div class="col-md-12">
                            <label for="kh_email">Email</label>
                            <input type="text" class="form-control" name="kh_email" id="kh_email" value="phucuong@ctu.edu.vn">
                        </div>
                        <div class="col-md-12">
                            <label for="kh_ngaysinh">Ngày sinh</label>
                            <input type="text" class="form-control" name="kh_ngaysinh" id="kh_ngaysinh" value="11/6/1989" readonly="">
                        </div>
                        <div class="col-md-12">
                            <label for="kh_cmnd">CMND</label>
                            <input type="text" class="form-control" name="kh_cmnd" id="kh_cmnd" value="362209685" readonly="">
                        </div>
                    </div>

                    <h4 class="mb-3">Hình thức thanh toán</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="httt-1" name="httt_ma" type="radio" class="custom-control-input" required=""
                                   value="1">
                            <label class="custom-control-label" for="httt-1">Tiền mặt</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="httt-2" name="httt_ma" type="radio" class="custom-control-input" required=""
                                   value="2">
                            <label class="custom-control-label" for="httt-2">Chuyển khoản</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="httt-3" name="httt_ma" type="radio" class="custom-control-input" required=""
                                   value="3">
                            <label class="custom-control-label" for="httt-3">Ship COD</label>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit" name="btnDatHang">
                        Đặt hàng
                    </button>
                </div>
            </div>
        </form>

    </div>
    <!-- End block content -->
</main>

<script>
    $(document).ready(function () {

        var isInputVisible = false;

        $("#searchButton").click(function () {
            if (isInputVisible) {
                $("#searchContainer").hide();
            } else {
                $("#searchContainer").show();
            }
            isInputVisible = !isInputVisible;
        });
        $("#searchBox").on("input", function () {
            var searchValue = $(this).val().toLowerCase();
            $("#provinceDropdown option").each(function () {
                if ($(this).text().toLowerCase().indexOf(searchValue) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
        $("#provinceDropdown").change(function () {
            var selectedId = $(this).val();
            var selectedOption = $(this).find("option:selected");
            var url = selectedOption.data("url");
            console.log("selectedId: " + selectedId);
            if (selectedId && url) {
                $.ajax({
                    url: url,
                    method: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: { idthanhpho: selectedId },
                    success: function (data) {
                        if (data == "success") {
                            alert("Lấy ID thành công: " + selectedId);
                        } else {
                            alert("Lấy ID thất bại");
                        }
                    },
                    error: function () {
                        alert("Có lỗi xảy ra");
                    }
                });
            }
        });
    });
</script>
