@model AppData.model.SanPhamChiTiet

@{
    ViewData["Title"] = "CreateSanPhamCT";
    var dataanh = ViewBag.listanh;
    var uploadimg = ViewBag.upload;
}
<script src="~/js/site.js"></script>
<link href="~/css/site.css" rel="stylesheet" />

<h4>SanPhamChiTiet</h4>
<hr />
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<div>
    <div>
        <form asp-action="CreateSanPhamCT">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@

            <div class=" row form-group">
                <label asp-for="MaSp" class=" col-3 control-label">Mã SP</label>
                <div class="col-9">
                    <input asp-for="MaSp" class="form-control" />
                    <span asp-validation-for="MaSp" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="IDSP" class="control-label col-3">Tên sản phẩm</label>
                <div class="col-9 ">
                    @Html.DropDownList("IDSP", ViewBag.SanPham  as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDSP, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label for="IdDanhMuc" class="control-label col-3">Danh muc san pham</label>
                <div class="col-9">
                    @Html.DropDownList("IdDanhMuc", ViewBag.DanhMuc  as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdDanhMuc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label for="IdChatLieu" class="control-label col-3">Chất liệu</label>
                <div class="col-9">
                    @Html.DropDownList("IdChatLieu", ViewBag.ChatLieu  as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdChatLieu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label for="IdMauSac" class="control-label col-3">Màu sắc</label>
                <div class="col-9">
                    @Html.DropDownList("IdMauSac", ViewBag.MauSac  as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdMauSac, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label for="IdSize" class="control-label col-3">Size</label>
                <div class="col-9">
                    @Html.DropDownList("IdSize", ViewBag.Size  as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdSize, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label for="IdAnh" class="control-label col-3">Ảnh sản phẩm</label>
                <div class="col-9 row">
                    <input type="text" id="imageFilename" name="imageFilename" class="col-4" />
                    <input asp-for="IdAnh" type="text" id="imageId" name="imageId" class="col-4" />
                    @*Mở form anh*@
                    <button type="button" class="col-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        Chọn ảnh
                    </button>
                    <!-- The Modal -->
                    <div class="modal" id="myModal">
                        <div class="modal-dialog custom-modal">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Kho ảnh</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    @foreach (var image in dataanh)
                                    {
                                        <img src="@Url.Action("DisplayImage", "QuanTri", new { imagePath = image.Connect })" alt="Image" class="selectable-image" data-image-id="@image.Id" data-image-filename="@image.Connect" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            @*@using (Html.BeginForm("UploadImage", "QuanTri", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                            <div class="form-group">
                            <input asp-for="imageUploadModel.ImageFile" type="file" class="form-control" />
                            </div>
                            <button type="submit" class="btn btn-primary">Upload</button>
                            }*@
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="selectImageBtn">Select</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>

            </div>

            @* Kêt thúc form anh*@
            <div class="form-group row">
                <label asp-for="SoLuong" class=" col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="SoLuong" class="form-control" type="number" min="0" />
                    <span asp-validation-for="SoLuong" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="GiaBan" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="GiaBan" class="form-control" type="number" min="0" />
                    <span asp-validation-for="GiaBan" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="MoTa" class="control-label col-3">Mô tả</label>
                <div class="col-9">
                    @Html.TextBoxFor(m => m.MoTa, new { @class = "form-control" })
                    <span asp-validation-for="MoTa" class="text-danger"></span>
                </div>
            </div>
            @* <div class="form-group">
            <label asp-for="status" class="control-label"></label>
            <input asp-for="status" class="form-control" />
            <span asp-validation-for="status" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}

