@model AppData.model.SanPhamChiTiet

@{
    ViewData["Title"] = "CreateSanPhamCT";
    var dataanh = ViewBag.listanh;
    var lstmausac = ViewBag.MauSac;
}

<script type="text/javascript" src="~/js/sanphamchitiet/sanphamchitiet.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>
<link type="text/css" href="~/css/site.css" rel="stylesheet" />
<script type="text/javascript" src="~/library/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/library/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="~/library/plugins/select2/js/select2.full.min.js"></script>
<script type="text/javascript" src="~/library/plugins/select2/js/select2.full.js"></script>
<link type="text/css" href="~/library/plugins/select2/css/select2.min.css" rel="stylesheet" />
<link type="text/css" href="~/library/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />

<link href="~/library/dist/css/adminlte.min.css" rel="stylesheet" />

<style>
    .image-row {
        display: flex;
        flex-wrap: wrap;
    }

    .image-item {
        margin: 5px;
        flex-basis: calc(16.666% - 10px); /* Điều chỉnh độ rộng tùy ý để hiển thị 6 ảnh trên một dòng */
    }

    .selectable-image {
        max-width: 100%;
        height: auto;
    }

    .image-checkbox {
        margin-right: 5px;
    }

    .selectable-image {
        max-width: 50%; /* Thiết lập chiều rộng ảnh là 50% so với ảnh gốc */
        height: auto;
    }
</style>
<hr />
<h4>SanPhamChiTiet</h4>
@*@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"] </div>
}*@
<div>
    <div>
        <form method="post" enctype="multipart/form-data" asp-controller="QuanTri" asp-action="UploadExcelFile">
            <input type="file" name="excelFile" />
            <input type="submit" value="Tải lên" />
        </form>
        <form asp-action="CreateSanPhamCT" asp-controller="QuanTri" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@

            @* <div class=" row form-group">
            <label asp-for="MaSp" class=" col-3 control-label">Mã SP</label>
            <div class="col-9">
            <input asp-for="MaSp" class="form-control" />
            <span asp-validation-for="MaSp" class="text-danger"></span>
            </div>
            </div>*@
            <div class="form-group row">
                <label for="IDSP" class="control-label col-3">Tên sản phẩm</label>
                <div class="col-9">
                    @Html.DropDownList("IDSP", ViewBag.SanPham as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDSP, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label for="IdDanhMuc" class="control-label col-3">Danh muc san pham</label>
                <div class="col-9">
                    @Html.DropDownList("IdDanhMuc", ViewBag.DanhMuc  as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdDanhMuc, "", new { @class = "text-danger" })
                </div>
            </div>
            @* <div class="form-group row">
            <label class="control-label col-3">Chất liệu</label>
            <div class="col-9">
            <select asp-for="IdChatLieu" class="select2 form-control" multiple="multiple">

            @foreach (var item in ViewBag.ChatLieu as IEnumerable<SelectListItem>)
            {
            <option value="@item.Value">@item.Text</option>
            }

            </select>
            </div>
            </div>*@
            <div class="form-group row">
                <label for="IdChatLieu" class="control-label col-3">Chất liệu</label>
                <div class="col-9">
                    @Html.DropDownList("IdChatLieu", ViewBag.ChatLieu  as IEnumerable<SelectListItem>, "", new { @class = "form-control select2" })
                    @Html.ValidationMessageFor(model => model.IdChatLieu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label for="IdMauSac" class="control-label col-3">Màu sắc</label>
                <div class="col-9">
                    @Html.DropDownList("IdMauSac", ViewBag.MauSac  as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdMauSac, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label for="IdSize" class="control-label col-3">Size</label>
                <div class="col-9">
                    @Html.DropDownList("IdSize", ViewBag.Size  as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdSize, "", new { @class = "text-danger" })
                </div>
            </div>
            @*bắt đầu *@
            <div class="form-group row">
                <label for="IdAnh" class="control-label col-3">Ảnh sản phẩm</label>
                <div class="col-9 row">
                    <input type="text" id="imageFilename" name="imageFilename" class="form-control" />
                    <button type="button" class="col-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        Chọn ảnh
                    </button>
                </div>
            </div>

            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog custom-modal">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Kho ảnh</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="image-row">
                                @foreach (var image in dataanh)
                                {
                                    <div class="image-item">
                                        <input type="checkbox" class="image-checkbox" data-image-filename="@image.Connect" />
                                        <img src="@Url.Action("DisplayImage", "QuanTri", new { imagePath = image.Connect })" alt="Image" class="selectable-image" data-image-id="@image.Id" data-image-filename="@image.Connect" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="selectImageBtn">Select</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>

            @*kết thúc*@

            <div class="form-group row">
                <label asp-for="SoLuong" class=" col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="SoLuong" class="form-control" type="number" min="0" />
                    <span asp-validation-for="SoLuong" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="GiaBan" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="GiaBan" class="form-control" type="number" min="0" />
                    <span asp-validation-for="GiaBan" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="MoTa" class="control-label col-3">Mô tả</label>
                <div class="col-9">
                    @Html.TextBoxFor(m => m.MoTa, new { @class = "form-control" })
                    <span asp-validation-for="MoTa" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" id="Idbtn" value="Create" class="btn btn-primary" onclick="return confirm('Bạn có chắc muốn Thêm sản phẩm này không ?');" />
            </div>@**@
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            var selectedImages = [];
            // Lắng nghe sự kiện click trên checkbox để chọn hoặc bỏ chọn
            $(".image-checkbox").on("click", function () {
                var imageId = $(this).data("image-id");
                var imageFilename = $(this).data("image-filename");
                if ($(this).prop("checked")) {
                    // Nếu checkbox được chọn, thêm ảnh vào danh sách đã chọn
                    selectedImages.push({ Id: imageId, Connect: imageFilename });
                } else {
                    // Nếu checkbox bị bỏ chọn, loại bỏ ảnh khỏi danh sách đã chọn
                    selectedImages = selectedImages.filter(function (image) {
                        return image.Id !== imageId;
                    });
                }
            });

            // Lắng nghe sự kiện click vào nút mở modal
            $("#selectImageBtn").on("click", function () {
                // Rút gọn và hiển thị tên ảnh đã chọn trong trường nhập
                $("#imageFilename").val(selectedImages.map(function (image) {
                    var lastIndex = image.Connect.lastIndexOf("\\");
                    if (lastIndex !== -1) {
                        return "...\\" + image.Connect.substring(lastIndex + 1);
                    } else {
                        return image.Connect;
                    }
                }).join(", "));


                var selectedFilenames = selectedImages.map(function (image) {
                    return image.Connect;
                });

                // Gửi danh sách tên ảnh lên controller thông qua AJAX
                $.ajax({
                    type: "POST", // Sử dụng phương thức POST
                    url: "/QuanTri/LuuAnh", // Thay thế ControllerName và ActionName bằng tên thực của controller và action của bạn
                    contentType: "application/json; charset=utf-8", // Chỉ định loại dữ liệu gửi lên là JSON
                    data: JSON.stringify(selectedFilenames), // Dữ liệu gửi lên controller dưới dạng JSON
                    success: function (data) {
                        // Xử lý phản hồi từ controller nếu cần
                    },
                    error: function () {
                        // Xử lý lỗi nếu có
                    }
                });
            });
        });

    </script>
}

