@model IEnumerable<AppData.model.ChatLieu>

@{
    ViewData["Title"] = "GellAllChatLieu";
}

<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllSanPhamCT">Sản Phẩm Chi Tiết</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllDanhMuc">Thuộc tính</a>
    </li>
</ul>


<ul class="nav nav-tabs" style="margin:10px;">
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllDanhMuc">Danh mục</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllMau">Màu sắc</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllChatLieu">Chất liệu</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllSize">Size</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllSanPham">Sản phẩm</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllAnh">Ảnh</a>
    </li>
</ul>

<p>
    <a asp-action="CreateChatLieu" class="btn btn-primary" style="margin:10px;">Create New</a>
</p>
<table class="table table-bordered">
    <thead style="text-align:center;">
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TenChatLieu)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.status)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody style="text-align:center;">
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TenChatLieu)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
