@model AppData.ViewModal.SanPhamChiTietVM.SanPhamChiTietViewModel
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "GellAllSanPhamCT";
    var lstmau = ViewBag.lstmausac;
    var lstsize = ViewBag.listSize;
    //var path = ViewBag.path;
}

<h1>Danh sách sản phẩm</h1>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
else
{
    <div class="alert alert-danger">@TempData["SuccessFull"]</div>
}
<style>
    td .btn {
        margin: 8px;
        width: 90px;
        height: 33px;
    }

    .bi {
        margin: 2px;
    }

    a {
        font-size: 16px;
    }

    /* Điều chỉnh màu nền và màu chữ cho các nút phân trang */
    .pagedList a {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        margin: 2px;
        border: 1px solid #007bff;
        border-radius: 3px;
        text-decoration: none;
    }

    /* Điều chỉnh màu nền và màu chữ cho nút trang hiện tại */
    .pagedList .active {
        background-color: #333;
        color: #fff;
        padding: 5px 10px;
        margin: 2px;
        border: 1px solid #333;
        border-radius: 3px;
        text-decoration: none;
    }

    /* Điều chỉnh kiểu hiển thị cho liên kết "Trang trước" và "Trang sau" */
    .pagedList .pagedList-skip {
        background-color: #f8f9fa;
        color: #333;
        padding: 5px 10px;
        margin: 2px;
        border: 1px solid #ccc;
        border-radius: 3px;
        text-decoration: none;
    }

    /* Điều chỉnh kiểu hiển thị cho các liên kết "Trang đầu" và "Trang cuối" */
    .pagedList .pagedList-skip-strong {
        background-color: #f8f9fa;
        color: #333;
        padding: 5px 10px;
        margin: 2px;
        border: 1px solid #ccc;
        border-radius: 3px;
        text-decoration: none;
    }
</style>

<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllSanPhamCT">Sản Phẩm Chi Tiết</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllDanhMuc">Thuộc tính</a>
    </li>
</ul>

<form asp-action="GellAllSanPhamCT" method="get">
    <div class="row" style="padding:5px ; margin : 5px;">
        <div class="col-3">
            <a asp-action="CreateSanPhamCT" class="btn btn-primary">Thêm mới</a>
        </div>
        <div class="col-9">
            @*Tim kiếm *@
            <input type="text" list="datalistOptions" id="name" name="name" placeholder="Tên sản phẩm" style="height : 40px; width: 90%; border-radius:10px" />
            <button type="submit" class="btn btn-primary" style="border-radius:5px; margin-left: 5px;">Search</button>
            @*Lọc theo sanh mục*@
            <div class="row">
                <div class="col-3">
                    <label for="danhMucFilter" class="control-label">Danh mục: </label>
                    <select id="danhMucFilter" name="danhMucFilter" class="form-control" asp-items="ViewBag.DanhMucList">
                        <option value="">All</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="chatLieuFilter" class="control-label">Chất liệu: </label>
                    <select id="chatLieuFilter" name="chatLieuFilter" class="form-control" asp-items="ViewBag.ChatlieuList">
                        <option value="">All</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="ThuongHieuFilter" class="control-label">Thương hiệu: </label>
                    <select id="ThuongHieuFilter" name="ThuongHieuFilter" class="form-control" asp-items="ViewBag.ThuongHieuList">
                        <option value="">All</option>
                    </select>
                </div>
                <div class="col-2">
                    <label class="control-label">Trạng thái: </label>
                    <select id="trangthaiFilter" name="trangthaiFilter" class="form-control">
                        <option value="">All</option>
                        <option value="0">Hết hàng</option>
                        <option value="1">Còn hàng</option>
                    </select>
                </div>
                <div class="col-1" style="margin-top: 31px;">
                    <input type="submit" value="Filter" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                @* <th>
                @Html.DisplayNameFor(model => model.Id)
                </th>*@
                <th>
                    Mã sản phẩm
                </th>
                <th>
                    Tên sản phẩm
                </th>
                <th>
                    Danh mục
                </th>
                <th>
                    Chất liệu
                </th>
                <th>
                    Màu sắc
                </th>
                <th>
                    Size
                </th>
                <th style="width:300px;">
                    Ảnh sản phẩm
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Gía bán
                </th>
                @* <th>
                @Html.DisplayNameFor(model => model.MoTa)
                </th>*@
                <th>
                    Trạng thái
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    @*<td>
                @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.MaSp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DanhMuc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChatLieu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MauSac)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>

                        @foreach (var path in item.Images)
                        {
                            <img src="@Url.Action("DisplayImage", "QuanTri", new { imagePath = path.Connect })" alt="Image" width="30%" height="30%" />
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuong)
                    </td>
                    <td>
                        @item.GiaBan.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))
                    </td>
                    @*<td>
                @Html.DisplayFor(modelItem => item.MoTa)
                </td>*@
                    <td>
                        @if (item.status == 1)
                        {
                            <p>Còn hàng</p>
                        }
                        @if (item.status == 0)
                        {
                            <p>Hết hàng</p>
                        }
                    </td>
                    <td>
                        @if (item.QRCode != null)
                        {
                            <img src="data:image/png;base64,@Convert.ToBase64String(item.QRCode)" alt="QR Code" />
                        }
                        @*<a href="@Url.Action("GenerateQRCode","QuanTri",new { id = item.Id})">
                            <i class="fas fa-qrcode"></i>
                        </a>*@
                    </td>
                    <td>
                        <a href="@Url.Action("UpdateSanPhamCT","QuanTri",new { id = item.Id})">
                            <i class="fas fa-pen" style="color: #007bff;"></i>
                        </a>
                        <a href="@Url.Action("GellByIDSanPhamCT","QuanTri",new { id = item.Id})">
                            <i class="fas fa-eye" style="color: #0084ff;"></i>
                        </a>
                        <a href="@Url.Action("DeleteSanPhamCT","QuanTri",new { id = item.Id})" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');">
                            <i class="fas fa-trash" style="color: #ff0000;"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model.Products , page =>  Url.Action("GellAllSanPhamCT", new { page }), new X.PagedList.Web.Common.PagedListRenderOptions { Display = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded })
</form>



