@model IEnumerable<AppData.ViewModal.SanPhamChiTietVM.SanPhamChiTietViewModel>

@{
    ViewData["Title"] = "GellAllSanPhamCT";
    var lstmau = ViewBag.lstmausac;
    var lstsize = ViewBag.listSize;
}

<h1>Danh sách sản phẩm</h1>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
} else
{
    <div class="alert alert-danger">@TempData["SuccessFull"]</div>
}
<style>
     td .btn {
        margin: 8px;
        width : 90px;
        height : 33px;
    }
    .bi {
        margin : 2px;
    }
    a {
        font-size: 16px;
    }
</style>

<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllSanPhamCT">Sản Phẩm Chi Tiết</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllDanhMuc">Thuộc tính</a>
    </li>
</ul>

<form asp-action="GellAllSanPhamCT" method="get">
    <div class="row" style="padding:5px ; margin : 5px;">
        <div class="col-3">
            <a asp-action="CreateSanPhamCT" class="btn btn-primary">Thêm mới</a>
        </div>
        <div class="col-9">
            <input type="text" list="datalistOptions" id="name" name="name" placeholder="Tên sản phẩm" style="height : 40px; width: 90%; border-radius:10px" />
            <button type="submit" class="btn btn-primary" style="border-radius:5px; margin-left: 5px;">Search</button>
            
            <datalist id="datalistOptions">
                <option value="Ví" />
                <option value="Quần" /> 
                <option value="Áo phao" />
                <option value="Quần tây" />
                <option value="áo sơ mi" />
            </datalist>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                @* <th>
                @Html.DisplayNameFor(model => model.Id)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.MaSp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenSP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DanhMuc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChatLieu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MauSac)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Anh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoLuong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GiaBan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MoTa)
                </th>
                <th>
                    Trạng thái
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.MaSp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DanhMuc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChatLieu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MauSac)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        <img src="@Url.Action("DisplayImage", "QuanTri", new { imagePath = item.Anh })" alt="Image" width="70%" height="70%" />
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaBan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td>
                        @if (item.status == 1)
                        {
                            <p>Còn hàng</p>
                        }
                        @if (item.status == 0)
                        {
                            <p>Hết hàng</p>
                        }
                    </td>
                    @*<td>
                <img src="@item.QRCode" alt="QR Code" />
                </td>*@
                    <td>
                        <a href="@Url.Action("UpdateSanPhamCT","QuanTri",new { id = item.Id})" class="btn btn-dark btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>    Edit
                        </a>
                        <a href="@Url.Action("GellByIDSanPhamCT","QuanTri",new { id = item.Id})" class="btn btn-primary btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>Details
                        </a>
                        <a href="@Url.Action("DeleteSanPhamCT","QuanTri",new { id = item.Id})" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn btn-danger btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                            </svg>Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

