@model IEnumerable<AppData.model.XuatSu>

@{
    ViewData["Title"] = "GellAllXuatXu";
}

<h1>GellAllXuatXu</h1>

<p>
    <a asp-action="CreateXuatXu" class="btn btn-primary" style="margin:10px;">Thêm mới</a>
</p>
<table class="table table-bordered">
    <thead style="text-align:center;">
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TenXuatSu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="text-align:center;">
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TenXuatSu)
            </td>
            <td>
                    @if (item.Status == 1)
                    {
                        <p>Hoạt động</p>
                    }
                    else if (item.Status == 0)
                    {
                        <p>Không hoạt động</p>
                    }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
