@model IEnumerable<AppData.ViewModal.SanPhamChiTietVM.SanPhamViewModel>

@{
    ViewData["Title"] = "GellAllSanPham";
}

<ul class="nav nav-tabs" style="margin:10px;">
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllSanPhamCT">Sản Phẩm Chi Tiết</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllDanhMuc">Thuộc tính</a>
    </li>
</ul>


<ul class="nav nav-tabs" style="margin:10px;">
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllDanhMuc">Danh mục</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllMau">Màu sắc</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllChatLieu">Chất liệu</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllSize">Size</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllSanPham">Sản phẩm</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllAnh">Ảnh</a>
    </li>
</ul>

<p>
    <a asp-action="CreateSanPham" class="btn btn-primary" style="margin:10px;">Thêm sản phẩm mới</a> |

    <a asp-action="GellAllThuongHieu">Thương hiệu</a> |
    <a asp-action="GellAllXuatsu">Xuất sứ</a> |
</p>
<table class="table table-bordered">
    <thead style="text-align:center;">
        <tr>
            <@*th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ThuongHieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XuatSu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead >
    <tbody style="text-align:center;">
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ThuongHieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XuatSu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                    @if (item.status == 1)
                    {
                        <p>Hoạt động</p>
                    }
                    else if (item.status == 0)
                    {
                        <p>Không hoạt động</p>
                    }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
