@model AppData.model.SanPhamChiTiet

@{
    ViewData["Title"] = "UpdateSanPhamCT";
    var dataanh = ViewBag.listanh;
    var lstanh = ViewBag.anhsp;
}

<script src="~/library/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/js/sanphamchitiet/sanphamchitiet.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>
<link href="~/css/site.css" rel="stylesheet" />

<style>
    .image-row {
        display: flex;
        flex-wrap: wrap;
    }

    .image-item {
        margin: 5px;
        flex-basis: calc(16.666% - 10px); /* Điều chỉnh độ rộng tùy ý để hiển thị 6 ảnh trên một dòng */
    }

    .selectable-image {
        max-width: 100%;
        height: auto;
    }

    .image-checkbox {
        margin-right: 5px;
    }

    .selectable-image {
        max-width: 50%; /* Thiết lập chiều rộng ảnh là 50% so với ảnh gốc */
        height: auto;
    }

    .image-item {
        position: relative;
        display: inline-block;
        margin: 10px;
    }
/*
    .delete-button {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #f00;
        color: #fff;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
    }*/
</style>
<hr />
<div>
    <div>
        <form asp-action="UpdateSanPhamCT" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@

            <div class=" row form-group">
                <label asp-for="MaSp" class=" col-3 control-label">Mã SP</label>
                <div class="col-9">
                    <input asp-for="MaSp" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <label for="IDSP" class="control-label col-3">Tên sản phẩm</label>
                <div class="col-9 ">
                    @Html.DropDownList("IDSP", ViewBag.SanPham as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                    @* @Html.DropDownListFor(m => m.IDSP, (IEnumerable<SelectListItem>)ViewBag.SanPham, new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.IDSP, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label for="IdDanhMuc" class="control-label col-3">Danh muc san pham</label>
                <div class="col-9">
                    @Html.DropDownList("IdDanhMuc", ViewBag.DanhMuc  as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdDanhMuc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label for="IdChatLieu" class="control-label col-3">Chất liệu</label>
                <div class="col-9">
                    @Html.DropDownList("IdChatLieu", ViewBag.ChatLieu  as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdChatLieu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label for="IdMauSac" class="control-label col-3">Màu sắc</label>
                <div class="col-9">
                    @Html.DropDownList("IdMauSac", ViewBag.MauSac  as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdMauSac, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <label for="IdSize" class="control-label col-3">Size</label>
                <div class="col-9">
                    @Html.DropDownList("IdSize", ViewBag.Size  as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdSize, "", new { @class = "text-danger" })
                </div>
            </div>

            @*bắt đầu *@
            <div class="form-group row">
                <label for="IdAnh" class="control-label col-3">Ảnh sản phẩm</label>
                <div class="col-9 row">
                    <input type="text" id="imageFilename" name="imageFilename" class="form-control" />
                    <button type="button" class="btn btn-primary col-2" style="margin-top:8px;" data-bs-toggle="modal" data-bs-target="#myModal">
                        Chọn ảnh
                    </button>
                </div>
                <div class="col-3"></div>
                <div class="col-9">
                    @foreach (var img in lstanh)
                    {
                        <div class="image-item">
                            <img src="@Url.Action("DisplayImage", "QuanTri", new { imagePath = img.Connect })" width="30%" height="30%" alt="Image" class="selectable-image" data-image-id="@img.Id" data-image-filename="@img.Connect" />
                            <a href="@Url.Action("XoaAnhSanPham","QuanTri",new { idsanpham = Model.Id , idanh = img.Id})" class="text-muted px-1 delete-button">
                                <i class="fas fa-times" style="color: #ff0000;"></i>
                            </a>
                        </div>
                       
                    }
                </div>
            </div>
            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Kho ảnh</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="image-row">
                                @foreach (var image in dataanh)
                                {
                                    <div class="image-item">

                                        <input type="checkbox" class="image-checkbox" data-image-filename="@image.Connect" />
                                        <img src="@Url.Action("DisplayImage", "QuanTri", new { imagePath = image.Connect })" alt="Image" class="selectable-image" data-image-id="@image.Id" data-image-filename="@image.Connect" />
                                    </div>
                                }
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="selectImageBtn">Select</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
            @*kết thúc*@


            @* Kêt thúc form anh*@
            <div class="form-group row">
                <label asp-for="SoLuong" class=" col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="SoLuong" class="form-control" type="number" min="0" />
                    <span asp-validation-for="SoLuong" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row">
                <label asp-for="GiaBan" class="col-3 control-label"></label>
                <div class="col-9">
                    <input asp-for="GiaBan" class="form-control" type="number" min="0" />
                    <span asp-validation-for="GiaBan" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label for="MoTa" class="control-label col-3">Mô tả</label>
                <div class="col-9">
                    @Html.TextBoxFor(m => m.MoTa, new { @class = "form-control" })
                    <span asp-validation-for="MoTa" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="control-label col-3">
                    Trạng thái
                </div>
                <div class="col-9">
                    <select name="SelectedStatus" class="form-control" id="statusSelect">
                        <option value="1">Còn hàng</option>
                        <option value="0">Hết hàng</option>
                    </select>
                    <div style="display:none;">
                        @Html.TextBoxFor(m => m.status, new { @class = "form-control", @id = "selectedStatus" })
                    </div>
                    <span asp-validation-for="status" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        document.getElementById("statusSelect").addEventListener("change", function () {
            var selectedValue = this.value; // Lấy giá trị được chọn trong select
            document.getElementById("selectedStatus").value = selectedValue; // Đặt giá trị vào TextBoxFor
        });
        $(document).ready(function () {
            var selectedImages = [];
            // Lắng nghe sự kiện click trên checkbox để chọn hoặc bỏ chọn
            $(".image-checkbox").on("click", function () {
                var imageId = $(this).data("image-id");
                var imageFilename = $(this).data("image-filename");
                if ($(this).prop("checked")) {
                    // Nếu checkbox được chọn, thêm ảnh vào danh sách đã chọn
                    selectedImages.push({ Id: imageId, Connect: imageFilename });
                } else {
                    // Nếu checkbox bị bỏ chọn, loại bỏ ảnh khỏi danh sách đã chọn
                    selectedImages = selectedImages.filter(function (image) {
                        return image.Id !== imageId;
                    });
                }
            });
            //$(".selectable-image").on("load", function () {
            //    var imageId = $(this).data("image-id");
            //    var imageFilename = $(this).data("image-filename");

            //     Kiểm tra xem ảnh đã được chọn hay chưa
            //    if (selectedImages.some(image => image.Id === imageId)) {
            //         Nếu đã chọn, không cần làm gì

            //    } else {
            //         Nếu chưa chọn, thêm ảnh vào danh sách đã chọn
            //        selectedImages.push({ Id: imageId, Connect: imageFilename });

            //         Rút gọn đường dẫn ảnh chỉ hiển thị phần tên tệp
            //        var lastIndex = imageFilename.lastIndexOf("\\");
            //        var shortImageFilename = "...\\" + imageFilename.substring(lastIndex + 1);

            //         Cập nhật giá trị của trường input với đường dẫn ảnh đã rút gọn
            //        var currentInputValue = $("#imageFilename").val();
            //        if (currentInputValue === "") {
            //            $("#imageFilename").val(shortImageFilename);
            //        } else {
            //            $("#imageFilename").val(currentInputValue + "," + shortImageFilename);
            //        }
            //    }
            //});
            // Lắng nghe sự kiện click vào nút mở modal
            $("#selectImageBtn").on("click", function () {
                // Rút gọn và hiển thị tên ảnh đã chọn trong trường nhập
                $("#imageFilename").val(selectedImages.map(function (image) {
                    var lastIndex = image.Connect.lastIndexOf("\\");
                    if (lastIndex !== -1) {
                        return "...\\" + image.Connect.substring(lastIndex + 1);
                    } else {
                        return image.Connect;
                    }
                }).join(", "));


                var selectedFilenames = selectedImages.map(function (image) {
                    return image.Connect;
                });

                // Gửi danh sách tên ảnh lên controller thông qua AJAX
                $.ajax({
                    type: "POST", // Sử dụng phương thức POST
                    url: "/QuanTri/LuuAnh", // Thay thế ControllerName và ActionName bằng tên thực của controller và action của bạn
                    contentType: "application/json; charset=utf-8", // Chỉ định loại dữ liệu gửi lên là JSON
                    data: JSON.stringify(selectedFilenames), // Dữ liệu gửi lên controller dưới dạng JSON
                    success: function (data) {
                        // Xử lý phản hồi từ controller nếu cần
                    },
                    error: function () {
                        // Xử lý lỗi nếu có
                    }
                });
            });
        });
    </script>
}
